<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta tags for character encoding and responsive design -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <!-- Font Awesome CSS for icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  
  <!-- Custom CSS for styling -->
  <link rel="stylesheet" href="/css/style.css">
  
  <!-- Page title -->
  <title>MaixusGig</title>
</head>

<body>
  <!-- Header section -->
  <header>
    <!-- Logo with a link to the home page -->
    <a href="/">
      <img src="/img/Xavier Mendoza Portfolioo Logo Asset.png" alt="MaixusGig logo" width="300px">
    </a>

    <!-- Site title with a link to the home page -->
    <h2>
      <a href="/"><i class="fas fa-code"></i> MaixusGig</a>
    </h2>
    
    <!-- Navigation bar -->
    <nav>
      <ul>
        <!-- Home link -->
        <li>
          <a href="/">Home</a>
        </li>
        
        <!-- Gigs link -->
        <li>
          <a href="/gigs">Gigs</a>
        </li>
        
        <!-- Add a Gig link -->
        <li>
          <a href="/gigs/add">Add a Gig</a>
        </li>
      </ul>
    </nav>
  </header>

  <!-- Main content area where different pages will be injected -->
  {{{body}}}
</body>

</html>
