<!-- Section for searching gigs -->
<section id="search" class="search-wrap">
  <h1>Find A Gig</h1>
  <!-- Search form that submits a search term to the /gigs/search route -->
  <form action="/gigs/search" class="search-form">
    <!-- Search icon -->
    <i class="fas fa-search"></i>
    <!-- Input field for the search term -->
    <input type="search" name="term" placeholder="Javascript, PHP, Rails, etc...">
    <!-- Submit button for the search form -->
    <input type="submit" value="Search">
  </form>
</section>
